.vscode/
src/passes/build
imgs*
temp*
bin/*.bc
bin/*.c
bin/output.txt
src/galgo/src/ga_output/
src/galgo/src/run/
src/gspan/gspan_mining/__pycache__
src/gspan/gspan_mining/__pycache__/*
/root/git/patt_mining/src/galgo/src/split_1_output
/root/git/patt_mining/src/galgo/src/split_1
/root/git/patt_mining/src/build
bin/preprocess/*.pyc
bin/preprocess/__pycache__
bin/execfile
src/mining/build/*
src/mining/build
src/gspan/gspan_mining/*.pyc

bin/run_shells/output
bin/input_data/rodinia

bin/run_shells/*.bc 
bin/run_shells/test_data/*.bc
bin/run_shells/test_data/*.ll
bin/run_shells/*.txt
bin/run_shells/rodinia/*
bin/run_shells/rodinia

bin/run_shells/test_split1
bin/run_shells/test_split2
bin/run_shells/test_merge
bin/run_shells/test_padding
bin/run_shells/test_rmops
bin/run_shells/io_count
bin/run_shells/test_extract_baseline/

bin/executables/parse_novia_output_sep
bin/executables/split_bb
bin/executables/split_bb_ino

bin/executables/extract_seed
bin/executables/genetic
bin/executables/flix
bin/executables/extract_baseline
bin/executables/get_cp_ops
bin/executables/seed_data
bin/executables/greedy_seed
bin/executables/io_count
bin/executables/merge
bin/executables/padding
bin/executables/rmdataops
bin/executables/rmops
bin/executables/search
bin/executables/split_1
bin/executables/split_2
bin/executables/debug_info
bin/executables/compute_hot_insts
bin/executables/count_reduced_ops
bin/executables/extract_novia
bin/executables/parse_novia_output
bin/executables/mia
bin/executables/visualize

src/chains/__pycache__
src/chains/*.png
src/chains/*.dot

rm bin/test_data/matmul.bc

src/mining/rst_search/
bin/run_shells/seed_data/

MachSuite

auto/results
auto/__pycache__